// COLORS
$primary-color: #529eee;
$secondary-color: rgb(85, 236, 237);
$font-family: 'Mulish', sans-serif;

$light-white: #040c27;
$white-color: #00061b;
$dark-grey: #66c4e6;

$dark-blue-text: #ebffff; // For headings

// FONT SIZE
$default-font-size: 1.6rem;
$mid-font-size: 2.5rem;
$big-font-size: 4rem;
